<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}
        
         {% if site.about == true %}
            {% if page.title != "Tentang Saya" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">Tentang Saya</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "UIN Suska Riau" %}
                <li class="item">
                    <a class="link" href="{{ http://sif.uin-suska.ac.id/ }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.research == true %}
            {% if page.title != "Fakultas Sains Dan Teknologi" %}
                <li class="item">
                    <a class="link" href="{{ http://fst.uin-suska.ac.id/  }}/research">Research</a>
                </li>
            {% endif %}
        {% endif %}

                 
            
        {% if site.teaching == true %}
            {% if page.title != "Sistem Informasi" %}
                <li class="item">
                    <a class="link" href="{{ http://www.uin-suska.ac.id/ }}/teaching">Teaching</a>
                </li>
            {% endif %}
        {% endif %}
                
    </ul>
</nav>
